#mapm { height: 350px;
}

#map { height: 100vh;  
}

#locationList .card{
    padding: 10px;
}

#toast-container{
  top: 50%;
  bottom: unset;
}
.toast{
  background-color: rgba(0,0,0,.8);
}
.btn i{
  font-size: 1rem;
  margin-right: 2px;
}

@media only screen and (min-width: 768px){
  .container{
    width: 80%;
      max-width: 800px;
  }
}


/* ------------------------------------------------------------------------------------------------- */

button{
  margin-bottom: 0px;
}
h4{
    margin-bottom: 10px;
}


#imgPre{
  margin-top: 10px;margin-bottom: 0px;
}
#output{
  width: 290px;box-shadow: #030303;border-style:groove;border-radius: 10px;
}

#demo{
  font-size: 15px;
}

/* -------------------------------------------------------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
}
.btn {
  padding: 14px 26px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn-danger {
  background-color: #e34c43;
  border-color: #e34c43;
}

.map-box2{
z-index:9999; right:10px; width:360px;    
}
::placeholder{
font-size:13px;
font-weight:bold;    
}
.form-control {
  border-color: #ebebeb;
}

label{
  font-size: medium;
}

#scroll {
    width:400px; 
    overflow-x:scroll; 
    position:relative;
    height: 85%;
}


/* Rating */
.rating {
  float:left;
  padding-left: 50px;
  
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    /* padding:0 .1em; */
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:300%;
    /* line-height:1.2; */
    color:#ddd;
    margin-left: 20px;
    
}

.rating:not(:checked) > label:before {
    content: '⦿';
}

.rating > input:checked ~ label {
    color: dodgerblue;
    
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: dodgerblue;
    
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: dodgerblue;
    
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


