#mapm { height: 350px;
}

#map { height: 100vh;  
}

#locationList .card{
    padding: 10px;
}

#toast-container{
  top: 50%;
  bottom: unset;
}
.toast{
  background-color: rgba(0,0,0,.8);
}
.btn i{
  font-size: 1rem;
  margin-right: 2px;
}

@media only screen and (min-width: 768px){
  .container{
    width: 80%;
      max-width: 800px;
  }
}


/* ------------------------------------------------------------------------------------------------- */

button{
  margin-bottom: 0px;
}
h4{
    margin-bottom: 10px;
}


#imgPre{
  margin-top: 10px;margin-bottom: 0px;
}
#output{
  width: 290px;box-shadow: #030303;border-style:groove;border-radius: 10px;
}

#demo{
  font-size: 15px;
}

/* -------------------------------------------------------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
}
.btn {
  padding: 14px 26px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn-danger {
  background-color: #e34c43;
  border-color: #e34c43;
}

.map-box2{
z-index:9999; right:10px; width:360px;    
}
::placeholder{
font-size:13px;
font-weight:bold;    
}
.form-control {
  border-color: #ebebeb;
}

label{
  font-size: medium;
}

#scroll {
    width:400px; 
    overflow-x:scroll; 
    position:relative;
    height: 85%;
}

