{% extends "layout.html" %}
{% block content %}
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Report it</h1>
                <p class="lead">Project Description</p>
                <a class="btn btn-primary" href="{{ url_for('report') }}" role="button">Form</a>
                <br>
                <br>
                <a class="btn btn-primary" href="{{ url_for('myreports') }}" role="button">My Reports</a>
                <br>
                <br>
                <a class="btn btn-danger" href="{{ url_for('foliumMap') }}" role="button">Folium</a>
                <br>
                <br>
                <a class="btn btn-danger" href="{{ url_for('leafmapTest') }}" role="button">Leafmap Kepler</a>
            </div>
        </div>
{% endblock content %}