{% extends "layout.html" %}
{% block content %}
<h1 align="center">Organization Analysis</h1><br/>
{% if current_user.is_authenticated and current_user.is_admin() %}
{% if curr_ana == 666 %}
{% set curr_ana=10 %}
{% else %}
{% endif %}
<div class="pb-2 d-flex justify-content-center">
  <div class="btn-group" role="group" aria-label="Large button group">
    <a type="button" class="btn btn-outline-dark" href="{{ url_for('myanalysis', accessuser_access=2) }}">Water</a>
    <a type="button" class="btn btn-outline-dark" href="{{ url_for('myanalysis', accessuser_access=3) }}">Sewage</a>
    <a type="button" class="btn btn-outline-dark" href="{{ url_for('myanalysis', accessuser_access=4) }}">Gas</a>
    <a type="button" class="btn btn-outline-dark" href="{{ url_for('myanalysis', accessuser_access=5) }}">Electric</a>
    <a type="button" class="btn btn-outline-dark" href="{{ url_for('myanalysis', accessuser_access=6) }}">Telecom</a>
    <a type="button" class="btn btn-outline-dark" href="{{ url_for('myanalysis', accessuser_access=10) }}">Utility</a>
  </div>
</div>
<div class="pb-5 d-flex justify-content-center">
  <div class="btn-group" role="group" aria-label="Large button group">
    <a type="button" class="btn btn-outline-dark" href="{{ url_for('myanalysis', accessuser_access=7) }}">Pollution</a>
    <a type="button" class="btn btn-outline-dark" href="{{ url_for('myanalysis', accessuser_access=8) }}">Road</a>
    <a type="button" class="btn btn-outline-dark" href="{{ url_for('myanalysis', accessuser_access=9) }}">Disaster</a>
  </div>
</div>
    {% else %}
    {% endif %}
<div align="center" class="container">
<div class="row align-items-start">
    <div class="col">
        <div class="card text-white bg-dark mb-3" style="width: 20rem;">
            <img class="card-img-top" src="{{ url_for('static', filename = '001-DispProblems.png') }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-warning">Display Problems</h5>
              <p class="card-text">View the local issues in their specific geolocation with detailed information and data.</p>
              <div align="center"><a href="{{ url_for('problemstimeline', accessuser_access=curr_ana) }}" class="btn btn-warning">Display Problems</a></div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-dark mb-3" style="width: 20rem;">
            <img class="card-img-top" src="{{ url_for('static', filename = '001-FacNearSJ.png') }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-warning">Facility Service Nearby</h5>
              <p class="card-text">Know the facility that can serve and solve issues nearby. The analysis works on local districts and regions level.</p>
              <div align="center"><a href="{{ url_for('analysis1', accessuser_access=curr_ana) }}" class="btn btn-warning">Facility Nearby</a></div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 20rem;">
                <img class="card-img-top" src="{{ url_for('static', filename = '001-Count2.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-warning">Count Problems on Admin Area</h5>
                  <p class="card-text">Check the count of problems in each local district for statistical purposes and inform your organizations.</p>
                  <div align="center"><a href="{{ url_for('analysis2', accessuser_access=curr_ana) }}" class="btn btn-warning">Problems Count</a></div>
                </div>
              </div>
          </div>
         <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 20rem;">
                <img class="card-img-top" src="{{ url_for('static', filename = 'hs-gif.gif') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-warning">Emerging Hot Spot Analysis</h5>
                  <p class="card-text">Check the admin areas considered as hot spots area over time. You can view the pollution effect for instance.</p>
                  <div align="center"><a href="{{ url_for('analysis3', accessuser_access=curr_ana) }}" class="btn btn-warning">Check Analysis</a></div>      
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-dark mb-3" style="width: 20rem;">
                  <img class="card-img-top" src="{{ url_for('static', filename = '001-HexaGrid2.png') }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title text-warning">Aggregation</h5>
                    <p class="card-text">Relies on the idea of clustering the input polygon into groups based on the measured values.</p>
                    <div align="center"><a href="{{ url_for('analysis4', accessuser_access=curr_ana) }}" class="btn btn-warning">Check Analysis</a></div>      
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card text-white bg-dark mb-3" style="width: 20rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename = '001-analysis.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-warning">Facilities Routing</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div align="center"><a href="{{ url_for('problemstimeline', accessuser_access=curr_ana) }}" class="btn btn-warning">Check Routing</a></div>      
                    </div>
                  </div>
                </div>
            </div>
        </div>
  </div>
{% endblock content %}